

input[type="radio"]{
  display: none;
}

.floor-box input:checked + label {
  background-color: teal; /* color de fondo al seleccionar */
  color: white; /* color del texto al seleccionar */
  
}
.disabled-button {
  background-color: rgb(155, 189, 132);
  pointer-events: none;
}

#floors{
  margin: 20px;
  color: white;
  font-weight: bold;
  
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}



.btn.selected {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}


#planta:hover{   
  background-color: #007bff ;
  font-weight: bold;
  color: white;


}


.btn-info{
  color: white;
  margin: 30px;
}

.btn-info.selected {
  background-color: #007bff;
  color: white;
  border-color: #054282;
}

.floors-container {
  text-align: center;
}

.floor-btn {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #007bff;
  color: #007bff;
  cursor: pointer;
}

.floor-btn.selected {
  background-color: #007bff;
  color: #fff;
}

