

input[type="radio"]{
  display: none;
}

.floor-box input:checked + label {
  background-color: teal; /* color de fondo al seleccionar */
  color: white; /* color del texto al seleccionar */
  
}
.disabled-button {
  background-color: gray;
  pointer-events: none;
}

#floors{
  margin: 20px;
  color: white;
  font-weight: bold;
  
}