.home{
    padding-left: 20px;
  }
  
  .dropdown [class="nav-link dropdown-toggle"] {
   color: white;   
  }
  
  [class="form-select form-select"]{
    border-style: none;
  }
  
 
  
  .language-picker-area {
    display: flex;
    justify-content: flex-end;
  }
  
  .picker-label {
    margin-right: 20px;
  }
  
  .language-picker {
    width: 80px;
    height: 32px;
    font-size: small;
    border-style: none;
  }
  
  [class = "nav-item dropdown"]{
     padding-right: 20px;
  }
  
  



  #menu{
    background-color: #0081ce;
  }

  .nav-link{
    font-weight: bold;
  }
  
  h5{
    color: white;
    margin-right: 30px;
  }


  .proba{
    margin-right: 30px;
  }
/*
  #navbarNav{
    margin-left: 200px;
  }
  */

  .navbar-nav{
    display: flex;
    justify-content: center; /* centers the content horizontally */
  }
  
