/*para cajas*/
.floors-container {
    display: flex;
  }
  
  .floor-box {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
  
  input[type="radio"]{
    display: none;
  }
  
  .floor-box input:checked + label {
    background-color: teal; /* color de fondo al seleccionar */
    color: white; /* color del texto al seleccionar */
    
  }
  .disabled-button {
    background-color: gray;
    pointer-events: none;
  }


.btn{
  margin: 20px;
  color: white;
  font-weight: bold;
  box-shadow: rgba(23, 162, 184, 0.4) 5px 5px, rgba(23, 162, 184, 0.3) 10px 10px, rgba(23, 162, 184, 0.2) 15px 15px, rgba(23, 162, 184, 0.1) 20px 20px, rgba(23, 162, 184, 0.05) 25px 25px;
}



h3, #seat-info{
  font-weight: bold;
  color:#0081ce;

}


#cancel{
  margin-left: 230px;
}

.btn-info.selected {
  background-color: #007bff;
  color: #fff;
  box-shadow: none;

  border: 3px solid #054282;

}

.btn-info {
  width: 200px;

}

@media (max-width: 522px) {
  .btn-info {
    width: 400px; /* Cambiar el tamaño a 100px cuando el ancho de la pantalla sea menor a 522px */
  }
}

.imagen{
  margin-left:50px
}