

span {
    color: red;
    font-size: 13px;

  }


.container {
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
      }

      .alert-container {
        max-width: 500px;
        width: 100%;
        text-align: center;
      }
      
      .alert-center {
        display: flex;
        justify-content: center;
      }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-control {
    width: 280px;
  }

  .error {
    border-color: red;
  }

  #register{
    margin-left: 30px;
    border-color: #007bff;
    color: #007bff ;
    font-weight: bold;
    border-width: 2px;
    width: 125px;
  }
  
  
  #register:hover {
    border-color: #007bff;
    background-color: #007bff ;
    font-weight: bold;
    color: white;
    border-width: 2px;
 
  }

  .btn-primary{
    font-weight: bold;
    border-width: 2px;
    width: 127px;
  }

  a{
    text-decoration: none;
  }
  
  
  